<div class="digital-clock">
    <div id="hour1" class="absolute hour1">
        <img src="assets\resursi\{{hour1}}.png"/>
    </div>
    <div id="hour2" class="absolute hour2">
        <img src="assets\resursi\{{hour2}}.png"/>
    </div>

    <div id="min1" class="absolute min1">
        <img src="assets\resursi\{{min1}}.png"/>
    </div>
    <div id="min2" class="absolute min2">
        <img src="assets\resursi\{{min2}}.png"/>
    </div>
    <div id="sec1" class="absolute sec1">
        <img src="assets\resursi\{{sec1}}.png"/>
    </div>
    <div id="sec2" class="absolute sec2">
        <img src='assets\resursi\{{sec2}}.png' id="sec2img" #sec2img/>
    </div>
</div>
