<div class="">
   <div><img  class="absolute images" src="./assets/resursi/clock_back.png" height="200"/></div>

   <div class="absolute hours" id="hour-hand" #hourHand>
      <img src="./assets/resursi/hour.png" height="100"/>
   </div>
   <div class="absolute minutes" id="min-hand" #minHand>
      <img src="./assets/resursi/minutes.png" height="130"/>
   </div>
   <div class="absolute secundas" id="sec-hand" #secHand>
      <img src="./assets/resursi/seconds.png" height="120"/>
   </div>
</div>
