<div class="digit" >
    <!--div class="cliped" [style.backgroundColor]="color"></div-->
    <div class="color number_1 clip-vertical" [style.backgroundColor]="color"></div>
    <!--div class="color number_5 clip_horizontal" [style.backgroundColor]="color"></div>
    <div class="color number_2 clip-vertical" [style.backgroundColor]="color"></div>
    <div class="color number_6 clip_horizontal" [style.backgroundColor]="color"></div>
    <div class="color number_3 clip-vertical" [style.backgroundColor]="color"></div>
    <div class="color number_7 clip_horizontal" [style.backgroundColor]="color"></div>
    <div class="color number_4 clip-vertical" [style.backgroundColor]="color"></div>-->
</div>